$white: #ffff;
$black: #000;
$viking: #6fc3df;
$blue-bell: #8d82c4;
$apricot: #ec8d81;
$gold-sand: #e7b788;
$portage: #8ea9e8;
$de-york: #87c5a4;
$ebony-clay: #242943;
$martinique: #2a2f4a;
$shakepseare: #37a6cb;
$anakiwa: #9bf1ff;
$malibu: #53E3FB;
$input-bg: rgba(212, 212, 255, 0.035);
$tiles-bg-color: rgba(36, 41, 67, 0.25);
$footer-border-color: rgba(212, 212, 255, 0.1);
$footer-color: rgba(244, 244, 255, 0.2);
$shadow-color: rgba(0, 0, 0, 0.15);
