@mixin flexCenter {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

@mixin displayFlex {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
@mixin flexWrap {
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin transition-background($duration) {
  -moz-transition:
    background-color $duration ease-in-out,
    box-shadow $duration ease-in-out,
    color $duration ease-in-out;
  -webkit-transition:
    background-color $duration ease-in-out,
    box-shadow $duration ease-in-out,
    color $duration ease-in-out;
  -ms-transition:
    background-color $duration ease-in-out,
    box-shadow $duration ease-in-out,
    color $duration ease-in-out;
  transition:
    background-color $duration ease-in-out,
    box-shadow $duration ease-in-out,
    color $duration ease-in-out;
}

@mixin transition-opacity($duration) {
  -moz-transition:
    -moz-transform $duration ease,
    opacity $duration ease,
    -moz-filter 1s ease,
    -webkit-filter 1s ease;
  -webkit-transition:
    -webkit-transform $duration ease,
    opacity $duration ease,
    -webkit-filter 1s ease;
  -ms-transition:
    -ms-transform $duration ease,
    opacity $duration ease,
    -ms-filter 1s ease;
  transition:
    transform $duration ease,
    opacity $duration ease,
    filter 1s ease,
    -webkit-filter 1s ease;
}

@mixin transform-scale-blur($scale, $blur) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
  -moz-filter: blur($blur);
  -webkit-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}


@mixin transition-properties(
  $properties: (),
  $duration: 0.25s,
  $timing: ease-in-out
) {
  @each $property in $properties {
    -moz-transition: #{$property} $duration $timing;
    -webkit-transition: #{$property} $duration $timing;
    -ms-transition: #{$property} $duration $timing;
    transition: #{$property} $duration $timing;
  }
}

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
