{% if icons %}
	<ul class="icons">
		{% for icon in icons %}
			<li>
				{% include '@atoms/icon/icon.twig' with { iconclass: icon.iconClass, iconname: icon.label,url: icon.url } %}
			</li>
		{% endfor %}
	</ul>
{% endif %}

