<button class="get-started {{ fill ? 'fill' : '' }} {{ width | default('w-100') }} {{ show_arrow ? 'show-arrow' : '' }}">
  {{ text }}
  {% if show_arrow %}
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="24" viewbox="0 0 36 24">
      <line x1="0" y1="12" x2="34" y2="12" style="stroke: #9bf1ff; stroke-width: 2px;"/>
      <line x1="25" y1="4" x2="34" y2="12.5" style="stroke: #9bf1ff; stroke-width: 2px;"/>
      <line x1="25" y1="20" x2="34" y2="11.5" style="stroke: #9bf1ff; stroke-width: 2px;"/>
    </svg>
  {% endif %}
</button>
