{% extends "base.twig" %}

{% block content %}

	{# Looping throught Posts #}
	<div class="row p-3">
		{% for post in posts %}
		<div class="col">
			{% include "@molecule/card/card.twig" with {
				cardHeader: post.post_title,
				cardImage: "https://picsum.photos/seed/picsum/300/200",
				cardTitle: post.post_title,
				cardDescription: post.post_excerpt,
				cardDate: post.post_date,
			} %}
		</div>
		{% endfor %}
	</div>

	<h2>{{ foo }}</h2>
	<p>{{ qux }}</p>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
