<div class="card-container mx-auto mt-3">
	<div class="card text-center">
		<div class="card-header">
			Storybook Card
		</div>
		<div class="card-body">
			{% if cardImage %}
				{% include '@atoms/image/image.twig' with { src: cardImage, alt: 'Logo', classes: 'm-3 shadow-sm rounded', width: '240px', height: '' } %}
			{% endif %}
			<h5 class="card-title">{{ cardTitle }}</h5>
			<p class="card-text">{{ cardDescription }}</p>

			{% include '@atoms/button/button.twig' with { size: "large", primary: true, label: "Go Somewhere" } %}
		</div>
		<div class="card-footer text-muted">
			{{ cardDate | date("d-m-y") }}
		</div>
	</div>
</div>
