<footer id="footer">
	<div class="inner">
		{% include "@molecules/icons/icons.twig" with { icons: socialMediaIcons} %}
		<ul class="copyright">
			<li>{% include "../../../views/footer.twig" %}</li>
			
			<li>Design:
				<a href="https://html5up.net">HTML5 UP</a>
			</li>
			<li>Demo Images:
				<a href="https://unsplash.com">Unsplash</a>
			</li>
		</ul>
	</div>
</footer>
