@use "../../scss/_variables/index.scss" as var;

.contact {
	background-color: var.$ebony-clay;
	border-bottom: solid 1px var.$footer-border-color;
	overflow-x: hidden;

	>.inner {
		display: flex;

		> :nth-child(2n - 1) {
			padding: 4em 3em 2em 0;
			border-right: solid 1px var.$footer-border-color;
			width: 60%;
		}

		> :nth-child(2n) {
			padding-left: 3em;
			width: 40%;
		}

		.split {
			:first-child::before {
				display: none;
			}

			>*:before {
				border-top: solid 1px var.$footer-border-color;
				content: '';
				display: block;
				margin-left: -3em;
				position: absolute;
				top: 0;
				width: calc(100vw + 3em);
			}
		}
	}

	@media screen and (max-width: var.$lg) {
		>.inner {
			display: block;

			> :nth-child(2n - 1) {
				padding: 4em 0 2em 0;
				border-right: 0;
				width: 100%;
			}

			> :nth-child(2n) {
				padding-left: 0;
				width: 100%;
			}

			>.split>* {
				padding: 3em 0 1em 0;
			}

			>.split> :first-child:before {
				display: block;
			}
		}
	}

	@media screen and (max-width: var.$md) {
		>.inner> :nth-child(2n - 1) {
			padding: 3em 0 1em 0;
		}
	}
}

footer {
	background: var.$martinique;
	color: var.$white;

	.copyright {
		font-size: 0.8em;
		list-style: none;
		padding-left: 0;

		li {
			border-left: solid 1px var.$footer-border-color;
			color: var.$footer-color;
			display: inline-block;
			line-height: 1;
			margin-left: 1em;
			padding-left: 1em;

			&:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}

	.inner {
		padding: 4em 0 2em 0;
		margin: 0 auto;
		max-width: 65em;
		width: calc(100% - 6em);
	}

	ul {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 1em 0 0;

			:last-child {
				padding-right: 0;
			}
		}

		@media screen and (max-width: var.$md) {
			li {
				padding: 0 0.75em 0 0;
			}
		}

		@media screen and (max-width: var.$sm) {
			.copyright {
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
					line-height: inherit;
				}
			}
		}
	}
}
