@use "../../SCSS/_variables/index.scss" as var;
@use "../../SCSS/components/default";


.tiles {
	@include var.displayFlex;
	@include var.flexWrap;

	article {
		@include var.displayFlex;
		@include var.flexCenter;
		@include var.transition-opacity(0.25s);
		padding: 4em 4em 2em 4em;
		@include var.background;
		height: 40vh;
		max-height: 40em;
		min-height: 23em;
		overflow: hidden;
		position: relative;
		width: 40%;

		.image {
			display: none;
		}

		header {
			position: relative;
			z-index: 3;
		}

		h3 {
			font-size: 1.75em;

			a:hover {
				color: inherit !important;
			}
		}

		.link.primary {
			border: 0;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 4;
		}

		&:before {
			content: "";
			@include var.transition-opacity(0.5s);
			bottom: 0;
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.85;
			position: absolute;
			width: 100%;
			z-index: 2;
		}

		&:after {
			content: "";
			background-color: rgba(36, 41, 67, 0.25);
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		&:hover:before {
			opacity: 0;
		}

		&.is-transitioning {
			@include var.transform-scale-blur(0.95, 0.5em);
			opacity: 0;
		}

		&:nth-child(4n - 1),
		&:nth-child(4n - 2) {
			width: 60%;
		}

		&:nth-child(6n - 5):before {
			background-color: var.$viking;
		}

		&:nth-child(6n - 4):before {
			background-color: var.$blue-bell;
		}

		&:nth-child(6n - 3):before {
			background-color: var.$apricot;
		}

		&:nth-child(6n - 2):before {
			background-color: var.$gold-sand;
		}

		&:nth-child(6n - 1):before {
			background-color: var.$portage;
		}

		&:nth-child(6n):before {
			background-color: var.$de-york;
		}
	}

	@media screen and (max-width: 1280px) {
		article {
			padding: 4em 3em 2em 3em;
			height: 30vh;
			max-height: 30em;
			min-height: 20em;
		}
	}

	@media screen and (max-width: 980px) {
		article {
			width: 50% !important;
		}
	}

	@media screen and (max-width: 736px) {
		article {
			padding: 3em 1.5em 1em 1.5em;
			height: 16em;
			max-height: none;
			min-height: 0;

			h3 {
				font-size: 1.5em;
			}
		}
	}

	@media screen and (max-width: 480px) {
		display: block;

		article {
			height: 20em;
			width: 100% !important;
		}
	}
}