<div class="main">
	<section id="contact">
		<div class="inner p-0">
			<section>
				{% include "@molecules/form/form.twig" %}
			</section>
			<section class="split p-0">
				{% include "@molecules/contact-info/contact-info.twig" %}
			</section>
		</div>
	</section>
</div>
