@use "../_variables/index" as var;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var.$white;
  font-weight: 600;
  line-height: 1.65;
  margin: 0 0 1em 0;
}

p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin: 0 0 2em 0;
  text-transform: uppercase;
  color: var.$white;
}

a {
  @include var.transition-properties((color, border-bottom-color), 0.5s);
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.25em;
}

header {
  margin-bottom: 2em;
}

header> :first-child:after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


.main {
  background-color: var.$martinique;

  .inner {
    padding: 4em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);

    @media screen and (max-width: 736px) {
      padding: 3em 0 1em 0;
      width: calc(100% - 3em);
    }
  }
}